.footer {
    font-family: 'Helvetica Neue';
    color: #fff;
    font-size: 14px;
    line-height: 16px;
    background-color: #000;
    position: relative;
    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 1800px;
        padding: 50px;    
        margin: 0 auto;
    }
    &__logo {
        font-family: 'Algeria Two';
        color: #fff;
        font-size: 36px;
        letter-spacing: 2px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    address {
        font-style: normal;
    }
}