.instargam {
    margin: 153px auto 56px;
    max-width: 1320px;
    padding-left: 20px;
    padding-right: 20px;
    h2 {
        font-family: 'Algeria Two';
        font-size: 64px;
        font-weight: normal;
        margin-top: 0;
        margin-bottom: 50px;
        line-height: 1;
        text-align: center;
    }
    &_box {
        display: flex;
        .element {
            width: 25%;
            height: 300px;
            border-right: 2px solid white;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            &:nth-child(1) {
                background-color: #ddcfb3;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-size: 35px;
                line-height: 1;
                img {
                    margin-bottom: 33px;
                    height: initial;
                    width: initial;
                }
            }
        }
    }
}