* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    max-width: 100%;
    min-width: 320px;
}
.body_overflow {
    overflow: hidden;
    position: relative;
    height: 100%;
}
img {
    max-width: 100%;
}
a {
    text-decoration: none;
}
button {
    outline: none;
}