@font-face {
    font-family: 'DIN Condensed';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/DIN_Condensed/15775.otf')format('opentype');
}
@font-face {
    font-family: 'Algeria Two';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/Algeria_Two/11894.ttf')format('truetype');
}
@font-face {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/Helvetica_Neue/HelveticaNeueCyr-Medium.ttf')format('truetype');
}